<div class="relative w-full h-full bg-gray-800 overflow-hidden">
    <div id="container3D" class="relative"></div>
    <div class="absolute bottom-0 right-0 w-[15vw] h-[15vw] grid grid-cols-2 bg-[#FFFFFF50]">
        <canvas #preview1 class="w-full h-full border-b-2 border-[#00000025]"></canvas>
        <canvas #preview2 class="w-full h-full border-l-2 border-b-2 border-[#00000025]"></canvas>
        <canvas #preview3 class="w-full h-full"></canvas>
        <canvas #preview4 class="w-full h-full border-l-2 border-[#00000025]"></canvas>
    </div>
</div>